@import url(reset.css);
html, body {
  height: 100%;
  width: 100%; }

.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 15px; }
  @media (max-width: 1480px) {
    .container {
      padding: 0 40px; } }
  @media (max-width: 780px) {
    .container {
      padding: 0 10px; } }

.wrapper {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column; }

.header {
  flex: 0 1 auto;
  background-color: #007aff; }
  .header-wrap {
    height: 100px;
    display: flex;
    justify-content: space-between; }
    @media (max-width: 390px) {
      .header-wrap {
        flex-direction: column;
        justify-content: center;
        padding: 10px; } }
  .header-left {
    display: flex;
    align-items: center;
    color: white; }
    .header-left-text {
      color: white;
      font-size: 24px; }
  .header-right {
    display: flex;
    flex-direction: column;
    justify-content: space-around; }
    .header-right-text {
      color: white;
      font-size: 20px;
      text-decoration: underline; }

.main {
  flex: 1 1 auto; }
  .main .block-wrap {
    width: 500px;
    padding: 10px;
    margin-top: 40px; }
    @media (max-width: 520px) {
      .main .block-wrap {
        width: 100%; } }
    .main .block-wrap .formElem {
      display: flex;
      flex-direction: column;
      margin-bottom: 15px; }
      .main .block-wrap .formElem .input-field {
        border: solid 1px black;
        border-radius: 10px;
        margin-bottom: 10px;
        padding-left: 10px; }
      .main .block-wrap .formElem .calc-btn-wrap {
        display: flex;
        justify-content: center;
        margin-bottom: 10px; }
        .main .block-wrap .formElem .calc-btn-wrap .calc-btn {
          width: 230px;
          height: 30px;
          border-radius: 5px;
          background: black;
          text-align: center;
          color: white;
          cursor: pointer;
          padding: 5px 0; }
      .main .block-wrap .formElem .calc-result .result-text {
        margin-bottom: 10px; }
      .main .block-wrap .formElem .submit-app {
        width: 170px;
        border-radius: 5px; }
    .main .block-wrap .show-btn-wrap {
      display: flex;
      justify-content: center; }
      .main .block-wrap .show-btn-wrap .show-table-btn {
        width: 230px;
        height: 30px;
        background: black;
        color: white;
        border-radius: 5px;
        cursor: pointer; }

        .submit-app {
          cursor: pointer;
        }
        .submit-app:hover {
          background: black;
          color: white;
        }
        .main .block-wrap .show-btn-wrap .show-table-btn:hover,
        .main .block-wrap .formElem .calc-btn-wrap .calc-btn:hover {
          background: grey;
          color: black;
        }

.footer {
  flex: 0 1 auto;
  background-color: #007aff; }
  .footer-wrap {
    height: 100px;
    display: flex;
    justify-content: space-between; }
    @media (max-width: 390px) {
      .footer-wrap {
        flex-direction: column;
        justify-content: center;
        padding: 10px; } }

/*# sourceMappingURL=main.css.map */
